.newproduct {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: space-around;
}
.newproduct > input {
  padding: 1rem 1rem;
  outline: none;
  width: 20%;
}
