.updateproduct {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  align-items: flex-start;
  margin-left: 35vw;
}
.updateproduct__details {
  text-align: start;
}
.updateproduct__details > input {
  margin-left: 5vw;
  padding: 0.5rem;
}
.updateproduct__details > label {
  margin-right: 5vw;
}
